body {
    height: 100vh;
    font-family: sans-serif; /* ändra sen */

    color: #f6f6f6;
}

.page-wrapper {
    background-image: url("nathan-dumlao-J2gEgTPM_OA-unsplash-2.jpg");
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.nav-container {
    display: flex;
    margin-top: 1em;
    padding: 0 .5em;
    padding-bottom: 1em;
    justify-content: center;
    flex: 0 0 20%;
    gap: 1em;
}

.header-title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;

    
}

.search-bar {
    padding: .5em;
    border: 1px solid #252525;
    border-radius: 5px;
}

.search-bar:focus{
    outline: 2px solid goldenrod; 
}

.filter-btn {
    padding: .5em;
    width: 4em;
    font-size: .7rem;
    border: 1px solid goldenrod;
    background-color: #fff;
    border-radius: .2em;
    box-shadow: .5px .5px 2px rgb(199, 199, 199);
}

.filter-btn:hover {
    background-color: goldenrod;
    color: #fff;
    transition: .2s;
}
.filter-btn:active {
    background-color: goldenrod;
    transition: .2s;
}


/* Alla kort ligger i main-wrapper */

.main-wrapper {
    
}


/* card-container är varje enskilt kort*/


.card-container {
    width: 80%;

    

    margin: 2em auto 0 auto;

    letter-spacing: 1px;
    line-height: 1.1em;

    cursor: pointer;

    border-radius: 10px;
    border-radius: 10px;
    
    background-color: rgba(0, 0, 0, 0.3);

    
}

.example-photo {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.card-info {
    padding: .7em;

    font-size: 1.2em;
}

.card-item-title {
    display: inline-block;
    width: 50%;

    font-weight: bold;
}

.card-item-price {
    float: right;
    font-weight: bold;
    color: green;
}


/*Tunna strecket under titeln och priset*/
.card-text::before {
    content: '';
    position: absolute;
    
    top: -.5em;

    height: 1px;
    width: 100%;
    
    background-color: #f6f6f6;
}

.card-text {
    position: relative;
    margin-top: 1em;

    font-size: 0.8rem;
}


/* fixerade beställningsknappen*/

.order-btn {
    position: fixed;

    right: 4em;
    bottom: 4em;

    aspect-ratio: 1/1;

    height: 4em;

    border: none;
    border-radius: 50%;

    font-weight: bold;

    color: white;
    background-color: #252525;
}