/* ------ General Styling ------ */
body {
    height: 100vh;
    font-family: 'Port Lligat Slab', serif; /* ändra sen */

    color: #f6f6f6;
}

.page-wrapper {

    /*display: none;*/ /* Denna ändras beroende på om vi ska visa shopping-cart eller inte*/
    
    background-image: url("assets/josephine-bredehoft-hbCs86vhDA0-unsplash-2.jpg");
    background-position: center;
    background-size: contain;

    min-height: 100vh;
}
.page-menu{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 10;
}

/* ------ Header Styling ------ */
.flag {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 2em;

    border-radius: 50%;
    
    color: white;

    cursor: pointer;
}

.sweden, .england {
    width: 100%;
}

.sweden {
    display: none;
}

.page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 .5em;
}

.logo {
    width: 100%;
}

.header-title {
    display: none;
}

.search-bar {
    padding: .7em;

    border: 1px solid #252525;
    border-radius: 5px;
    
    width: 45%;

    color: #fff;
    background-color: #252525;
}

.search-bar:focus{
    outline: 2px solid goldenrod; 
}

/* ------ Navigation Styling ------ */
.nav-container {
    display: flex;
    margin-top: 1em;
    padding: 0 .5em;
    padding-bottom: 1em;
    justify-content: center;
    flex: 0 0 20%;
    gap: 1em;
}

.filter-btn-all, .filter-btn-food, .filter-btn-drinks, .filter-btn-dessert {
    height: 3.6em;
    width: 3.6em;
    
    font-size: 1rem;
    font-weight: bold;

    border: 1px solid rgb(29, 29, 29);
    background-color: #252525;
    color: #fff;
    
    border-radius: 50%;
    
    cursor: pointer;
}

.filter-btn-all:hover, .filter-btn-food:hover, .filter-btn-drinks:hover, .filter-btn-dessert:hover {
    background-color: #c68a31;
    color: #fff;
    transition: .2s;
}
.filter-btn-all:active, .filter-btn-food:active, .filter-btn-drinks:active, .filter-btn-dessert:active {
    background-color: goldenrod;
    transition: .2s;
}

/* Alla kort ligger i main-wrapper */

/* card-container är varje enskilt kort*/

/* ------ Main Styling ------ */
.card-container {
    width: 60%;

    margin: 4em auto 0 auto;

    letter-spacing: 2px;
    line-height: 1.1em;

    border-radius: 10px;
    border-radius: 10px;
    
    background-color: rgba(0, 0, 0, 0.3);

    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.74);
}

.featured {
    position: relative;
    border: 3px solid rgb(255, 152, 17);
}

.featured::after {
    content: 'OUR FAVORITE!';
    position: absolute;
    
    padding: .3em .8em;

    background-color: rgb(255, 152, 17);
    color: black;

    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;

    top: 0;

}

.example-photo {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
}

.card-info {
    padding: .7em .7em 2em .7em;
    font-size: 1.2em;
}

.card-item-title {
    display: inline-block;
    width: 50%;

    font-weight: bold;
    font-family: 'Port Lligat Slab', serif;
}

.card-item-price {
    float: right;
    font-weight: bold;
    color: green;
}

/*Tunna strecket under titeln och priset*/
.card-text::before {
    content: '';
    position: absolute;
    
    top: -.5em;

    height: 1px;
    width: 100%;
    
    background-color: #f6f6f6;
}

.card-text {
    position: relative;
    
    margin-top: 1em;

    font-size: 0.8rem;
    font-family: 'Port Lligat Slab', serif;
    
    z-index: 1;
}

.add-btn {
    float: right;
    padding: .5em 1.9em;

    border: none;
    border-radius: 5px;

    font-weight: bold;

    color: white;
    background-color: green;

    cursor: pointer;
}

.add-btn:hover {
    background-color: rgb(2, 145, 2);
    transition: .2s;
}


/* fixerade beställningsknappen*/

.cart-btn {
    position: fixed;
    
    right: 1.3em;
    bottom: 4em;

    width: 2em;
    height: 2em;

    border: none;
    border-radius: 50%;

    font-size: 1.5rem;
    font-weight: bold;

    color: white;
    background-color: #252525;

    cursor:pointer;

    z-index: 2;
}


.cart-btn:hover {
    background-color: #2e2e2e;
    transition: .2s;
}

/* Röda pricken på shopping-cart knappen */
.shopping-cart-dot {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    
    top: -.5em;
    right: -.2em;

    font-size: 1rem;

    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: red;
}


/* ----- Kvittot ----- */

.orders {
    position: fixed;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;

    top: 17%;
    left: 5%;

    z-index: 10;

    border-radius: 10px;
    
    background-color: #252525;
    
    opacity: 1;
    
}

.orders-img {
    position: absolute;
    
    width: 100%;
    height: 100%;

    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.74);
}

.order-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1em;
    font-size: 1rem;
}
.order-card div {
    font-weight: bold;
    color: darkgreen;
}

.order-card div button {
    margin-left: .5em;
    
    border-radius: 50%;   
    border: none;
    
    background-color: red;
    color: white;
    
    font-weight: bold;
    font-size: 0.8em;

    cursor: pointer;
}

.balance-container {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 1em;
    left: 20%;

    width: 60%;
    height: 2em;

    z-index: 20;

    border-radius: 4px;
    overflow:hidden;
}

.balance-container button {
    height: 100%;
    aspect-ratio: 1/1;
    
    border: none;

    font-weight: bold;

    background-color: rgb(114, 55, 0);
    color: white;
}

.balance-container button:hover {
    background-color: rgb(145, 70, 0);
    transition: .2s;
}

.balance-container input {
    border: none;

    text-align: center;

    flex: 1;
    width: 50%;
    padding: 0;
    height: 100%;
}

*:focus {
    outline: none;
}

.orders-container {
    display: flex;
    flex-direction: column;

    height: 60%;
    width: 68%;
    padding: 1em;
    z-index: 5;
    overflow-y: scroll;
}

.orders-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.orders-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.orders-container > p {
    margin-bottom: .5em;
}

.close-order {
    position: absolute;
    
    right: 0rem;
    top: -.55em;
    width: 2em;
    height: 2em;

    font-size: 1.2rem;

    cursor: pointer;

    border: none;
    
    color: rgb(212, 2, 2);
    background-color: rgba(0, 0, 0, 0);

    z-index: 20;
}

.order-header {
    position: absolute;

    width: 70%;
    
    top: 4em;
    left: 15%;

    color: darkgreen;
    font-weight: bold;
}

.order-total {
    position: absolute;

    left: 2em;
    bottom: 4.5em;
}

.orders-balance::after {
    position: absolute;
    content: '';
    
    height: 2px;
    background-color: #3f3f3f;
    width: 100%;

    bottom: -.5em;
    left: 0;
}

.add-balance {
    width: 1em;
    text-align: center;
}

.add-balance:hover {
    width: 3em;
}

.rope {
    position: fixed;

    height: 35%;
    width: 35%;
    
    bottom: 0;

    z-index: 10;

    filter: brightness(80%);
}

.take-me-up {
    position: fixed;
    font-size: 50px;
    bottom: -20px;
    float: right;
    left: 85%;
    color: #f6f6f6;
    padding: 10px;
       
}
.take-me-up:hover {
    text-decoration: none; 
}
 

/* ------ Desktop Styling ------ */

@media screen and (min-width: 780px) { 

  .main-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 0 auto;

    gap: 1em;
  }

  .logo {
    width: 40%;
    margin: 0 30%;
  }

  .page-header {
   width: 40%;
   margin: 0 auto;
   height: 80%;
   display: flex;
  }

  .search-bar {
    width: 80%;
  } 

  .card-container {
    flex: 0 1 20em;
  }
  
  .rope {
    display: none;
  }
}