body {
    height: 100vh;
    font-family: sans-serif; /* ändra sen */

    color: #f6f6f6;
}

.page-wrapper {

    /*display: none;*/ /* Denna ändras beroende på om vi ska visa shopping-cart eller inte*/
    
    background-image: url("josephine-bredehoft-hbCs86vhDA0-unsplash-2.jpg");
    background-position: center;
    background-size: contain;
}
.page-menu{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.flag {

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 2em;

    border-radius: 50%;
    
    color: black;
    background-color: white;

    cursor: pointer;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.nav-container {
    display: flex;
    margin-top: 1em;
    padding: 0 .5em;
    padding-bottom: 1em;
    justify-content: center;
    flex: 0 0 20%;
    gap: 1em;
}

.header-title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;
}

.search-bar {
    padding: .5em;
    border: 1px solid #252525;
    border-radius: 5px;
    
}

.search-bar:focus{
    outline: 2px solid goldenrod; 
}

.filter-btn-all, .filter-btn-food, .filter-btn-drinks, .filter-btn-dessert {
    padding: .5em;
    width: 5em;
    font-size: .7rem;
    border: 1px solid goldenrod;
    background-color: #fff;
    border-radius: .2em;
    box-shadow: .5px .5px 2px rgb(199, 199, 199);
    cursor: pointer;
}

.filter-btn-all:hover, .filter-btn-food:hover, .filter-btn-drinks:hover, .filter-btn-dessert:hover {
    background-color: goldenrod;
    color: #fff;
    transition: .2s;
}
.filter-btn-all:active, .filter-btn-food:active, .filter-btn-drinks:active, .filter-btn-dessert:active {
    background-color: goldenrod;
    transition: .2s;
}


/* Alla kort ligger i main-wrapper */

.main-wrapper {
    
}


/* card-container är varje enskilt kort*/


.card-container {
    width: 80%;

    

    margin: 4em auto 0 auto;

    letter-spacing: 2px;
    line-height: 1.1em;


    border-radius: 10px;
    border-radius: 10px;
    
    background-color: rgba(0, 0, 0, 0.3);

    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.74); /**/
    
}

.example-photo {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.card-info {
    padding: .7em .7em 2em .7em;
    font-size: 1.2em;
}

.card-item-title {
    display: inline-block;
    width: 50%;

    font-weight: bold;
    font-family: 'Port Lligat Slab', serif;
}

.card-item-price {
    float: right;
    font-weight: bold;
    color: green;
}


/*Tunna strecket under titeln och priset*/
.card-text::before {
    content: '';
    position: absolute;
    
    top: -.5em;

    height: 1px;
    width: 100%;
    
    background-color: #f6f6f6;
}

.card-text {
    position: relative;
    
    margin-top: 1em;

    font-size: 0.8rem;
    font-family: 'Port Lligat Slab', serif;
    
}

.add-btn {
    float: right;
    padding: .5em 1.9em;

    border: none;
    border-radius: 5px;

    font-weight: bold;

    color: white;
    background-color: green;

    cursor: pointer;
}


/* fixerade beställningsknappen*/

.cart-btn {
    position: fixed;

    right: 4em;
    bottom: 4em;

    aspect-ratio: 1/1;

    height: 4em;

    border: none;
    border-radius: 50%;

    font-weight: bold;

    color: white;
    background-color: #252525;

    cursor:pointer;
}

/* Röda pricken på shopping-cart knappen */
.shopping-cart-dot {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    
    top: -.5em;
    right: -.2em;

    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: red;
}





.orders {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;

    top: 17%;
    left: 5%;

    z-index: 10;

    border-radius: 5px;
    background-color: rgba(73, 41, 0, 0.9);
}
.balance-container {
    display: flex;
    position: absolute;
    top: 1em;
    left: 1em;
}


.orders-container {
    background-color: #111;
    height: 80%;
    width: 80%;
    padding: 1em;
}
.orders-container > p {
    margin-bottom: .5em;
}

.close-order {
    position: absolute;

    padding: 1em 0em;
    width: 50%;
    
    left: 25%;
    bottom: 1.5em;

    border: none;
    border-radius: 5px;

    font-weight: bold;

    color: white;
    background-color: rgb(168, 1, 1);
    
}
/* .orders-balance {
    position: absolute;
    top: 1em;
    left: 1em;
} */
.add-balance {
    width: 1em;
    text-align: center;
}

.add-balance:hover {
    width: 3em;
}